In [74]:
import pandas as pd
import numpy as np

In [75]:
n_sample=100000

In [76]:
df1=pd.read_csv("BOUN_TCP_Anon.csv",nrows=n_sample)

In [77]:
df2=pd.read_csv("BOUN_UDP_Anon.csv",nrows=n_sample)

In [78]:
df=pd.concat([df1,df2],axis=0,ignore_index=True)

In [79]:
df.head()

,Time,Frame Number,Frame_length,Source_ip,Destination_IP,Source_Port,Destination_Port,SYN,ACK,RST,TTL,TCP_Protocol
0,0.000000,1,64,10.50.197.71,10.50.192.199,49543.0,443.0,Not set,Set,Not set,127,TCP
1,0.000002,2,2978,10.50.192.199,10.50.197.71,443.0,49543.0,Not set,Set,Not set,127,TCP
2,0.000040,3,64,10.50.197.71,10.50.192.199,49543.0,443.0,Not set,Set,Not set,127,TCP
3,0.000042,4,4438,10.50.192.199,10.50.197.71,443.0,49543.0,Not set,Set,Not set,127,TCP
4,0.000053,5,64,10.50.197.71,10.50.192.199,49543.0,443.0,Not set,Set,Not set,127,TCP

In [80]:
df['TCP_Protocol'].value_counts()

TCP                              137759
UDP                               56940
Generic Routing Encapsulation      4399
ICMP                                132
IPv6                                102
ICMP,UDP                             60
IGMP                                 16
ICMP,TCP                              6
ICMP,ICMP                             3
Name: TCP_Protocol, dtype: int64

In [81]:
df['Source_ip'].value_counts()

10.50.197.71         51715
10.50.192.199        40157
92.45.54.178          9925
10.50.209.134         6173
216.58.208.111        5266
                     ...
00:14:d7:05:02:a6        1
10.50.198.38             1
10.50.198.218            1
211.151.112.112          1
54.77.179.133            1
Name: Source_ip, Length: 1739, dtype: int64

In [82]:
l=['10.50.197.71','10.50.192.199']

In [83]:
print(df)

            Time  Frame Number  Frame_length      Source_ip  Destination_IP  \
0       0.000000             1            64   10.50.197.71   10.50.192.199
1       0.000002             2          2978  10.50.192.199    10.50.197.71
2       0.000040             3            64   10.50.197.71   10.50.192.199
3       0.000042             4          4438  10.50.192.199    10.50.197.71
4       0.000053             5            64   10.50.197.71   10.50.192.199
...          ...           ...           ...            ...             ...
199995  7.731553         99996            86   10.50.197.45  173.194.122.24
199996  7.731594         99997          1396   10.50.197.71  216.58.208.111
199997  7.731595         99998            86   10.50.197.45  173.194.122.24
199998  7.731751         99999          1396   10.50.197.71  216.58.208.111
199999  7.731753        100000          1396   10.50.197.71  216.58.208.111

        Source_Port  Destination_Port      SYN  ACK      RST  TTL TCP_Protocol
0           49543.0             443.0  Not set  Set  Not set  127          TCP
1             443.0           49543.0  Not set  Set  Not set  127          TCP
2           49543.0             443.0  Not set  Set  Not set  127          TCP
3             443.0           49543.0  Not set  Set  Not set  127          TCP
4           49543.0             443.0  Not set  Set  Not set  127          TCP
...             ...               ...      ...  ...      ...  ...          ...
199995          NaN               NaN      NaN  NaN      NaN  127          UDP
199996          NaN               NaN      NaN  NaN      NaN  127          UDP
199997          NaN               NaN      NaN  NaN      NaN  127          UDP
199998          NaN               NaN      NaN  NaN      NaN  127          UDP
199999          NaN               NaN      NaN  NaN      NaN  127          UDP

[200000 rows x 12 columns]

In [84]:
for i in range(0,len(df)):
    if(df['Source_ip'][i] not in l):
        df['Source_ip'][i]='other_src_ip'
src_dummies=pd.get_dummies(df['Source_ip'])
src_dummies=src_dummies.rename(columns={"10.50.197.71":"src_71","10.50.192.199":"src_199"})

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [85]:
src_dummies.head()

   src_199  src_71  other_src_ip
0        0       1             0
1        1       0             0
2        0       1             0
3        1       0             0
4        0       1             0

In [86]:
df_new=src_dummies

In [87]:
df['Destination_IP'].value_counts()

10.50.197.71       47345
10.50.192.199      39727
216.58.208.111     10602
10.50.209.134       9925
92.45.54.178        6173
                   ...
192.168.4.129          1
171.25.188.233         1
Apple_d5:c0:10         1
117.104.247.124        1
107.21.228.127         1
Name: Destination_IP, Length: 1827, dtype: int64

In [88]:
l1=['10.50.197.71','10.50.192.199']

In [89]:
for i in range(0,len(df)):
    if(df['Destination_IP'][i] not in l1):
        df['Destination_IP'][i]='other_dest_ip'
dst_dummies=pd.get_dummies(df['Destination_IP'])
dst_dummies=dst_dummies.rename(columns={"10.50.197.71":"dst_71","10.50.192.199":"dst_199"})

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [90]:
df_new=pd.concat([df_new,dst_dummies],axis=1)

In [91]:
for i in range(0,len(df)):
    if(pd.isnull(df['Source_Port'][i])):
        df['Source_Port'][i]=-1;

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [92]:
df['Source_Port'].value_counts()

-1.0        62235
 443.0      56952
 49543.0    39727
 80.0        7941
 54602.0     2909
            ...
 59281.0        1
 51668.0        1
 51633.0        1
 51615.0        1
 2047.0         1
Name: Source_Port, Length: 1942, dtype: int64

In [93]:
for i in range(0,len(df)):
    if(pd.isnull(df['Destination_Port'][i])):
        df['Destination_Port'][i]=-1;

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [94]:
df['Destination_Port'].value_counts()

-1.0        62235
 443.0      59185
 49543.0    40157
 80.0        7615
 54602.0     1716
            ...
 54800.0        1
 38357.0        1
 54721.0        1
 54693.0        1
 54836.0        1
Name: Destination_Port, Length: 1928, dtype: int64

In [95]:
for i in range(0,len(df)):
    if(pd.isnull(df['SYN'][i])):
        df['SYN'][i]="NaN";

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [96]:
for i in range(0,len(df)):
    if(pd.isnull(df['ACK'][i])):
        df['ACK'][i]="NaN"

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [97]:
for i in range(0,len(df)):
    if(pd.isnull(df['RST'][i])):
        df['RST'][i]="NaN";

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [98]:
df['SYN'].value_counts()

Not set    136363
NaN         62235
Set          1402
Name: SYN, dtype: int64

In [99]:
df['ACK'].value_counts()

Set        136775
NaN         62235
Not set       990
Name: ACK, dtype: int64

In [100]:
df['RST'].value_counts()

Not set    137316
NaN         62235
Set           449
Name: RST, dtype: int64

In [101]:
for i in range(0,len(df)):
    if(df['Source_Port'][i]==-1):
        df['Source_Port'][i]='srcport_null'
    elif(df['Source_Port'][i]==443):
        df['Source_Port'][i]='srcport_443'
    elif(df['Source_Port'][i]==49543):
        df['Source_Port'][i]='srcport_49543'
    else:
        df['Source_Port'][i]='other_srcport'
        
    if(df['Destination_Port'][i]==-1):
        df['Destination_Port'][i]='dstport_null'
    elif(df['Destination_Port'][i]==443):
        df['Destination_Port'][i]='dstport_443'
    elif(df['Destination_Port'][i]==49543):
        df['Destination_Port'][i]='dstport_49543'
    else:
        df['Destination_Port'][i]='other_dstport'

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\USER\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [102]:
srcport_dummies=pd.get_dummies(df['Source_Port'])
dstport_dummies=pd.get_dummies(df['Destination_Port'])

In [103]:
df_new=pd.concat([df_new,srcport_dummies],axis=1)

In [104]:
df_new=pd.concat([df_new,dstport_dummies],axis=1)

In [105]:
for i in range(0,len(df)):
    if(df['SYN'][i]=='Not set'):
        df['SYN'][i]="SYN_NOT_SET"
    else:
        df['SYN'][i]="SYN_Other"
        
    if(df['ACK'][i]=="Set"):
        df['ACK'][i]="ACK_SET"
    else:
        df['ACK'][i]="ACK_Other"
        
    if(df['RST'][i]=='Not set'):
        df['RST'][i]="RST_NOT_SET"
    else:
        df['RST'][i]="RST_Other"

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [106]:
syn_dummies=pd.get_dummies(df['SYN'])
ack_dummies=pd.get_dummies(df['ACK'])
rst_dummies=pd.get_dummies(df['RST'])

In [107]:
syn_dummies.head()

   SYN_NOT_SET  SYN_Other
0            1          0
1            1          0
2            1          0
3            1          0
4            1          0

In [108]:
ack_dummies.head()

   ACK_Other  ACK_SET
0          0        1
1          0        1
2          0        1
3          0        1
4          0        1

In [109]:
rst_dummies.head()

   RST_NOT_SET  RST_Other
0            1          0
1            1          0
2            1          0
3            1          0
4            1          0

In [110]:
df['TTL'].value_counts()

127       111039
54         11085
116         9929
63          9638
63,64       7653
           ...
73             1
37,99          1
241,46         1
46,109         1
39,111         1
Name: TTL, Length: 224, dtype: int64

In [111]:
df_new=pd.concat([df_new,syn_dummies],axis=1)

In [112]:
df_new=pd.concat([df_new,ack_dummies],axis=1)

In [113]:
df_new=pd.concat([df_new,rst_dummies],axis=1)

In [114]:
for i in range(0,len(df)):
    if(df['TTL'][i] != "127"):
        df['TTL'][i]="OTHER_TTL"
    else:
        df['TTL'][i]="TTL_127"

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [115]:
ttl_dummies=pd.get_dummies(df['TTL'])

In [116]:
df_new=pd.concat([df_new,ttl_dummies],axis=1)

In [117]:
df_new.head()

,src_199,src_71,other_src_ip,dst_199,dst_71,other_dest_ip,other_srcport,srcport_443,srcport_49543,srcport_null,...,dstport_null,other_dstport,SYN_NOT_SET,SYN_Other,ACK_Other,ACK_SET,RST_NOT_SET,RST_Other,OTHER_TTL,TTL_127
0,0,1,0,1,0,0,0,0,1,0,...,0,0,1,0,0,1,1,0,0,1
1,1,0,0,0,1,0,0,1,0,0,...,0,0,1,0,0,1,1,0,0,1
2,0,1,0,1,0,0,0,0,1,0,...,0,0,1,0,0,1,1,0,0,1
3,1,0,0,0,1,0,0,1,0,0,...,0,0,1,0,0,1,1,0,0,1
4,0,1,0,1,0,0,0,0,1,0,...,0,0,1,0,0,1,1,0,0,1

In [118]:
df['Frame_length'].value_counts()

64      53182
2978    28088
1396    18105
1518    11405
70       8776
        ...
3395        1
5696        1
1602        1
1730        1
2049        1
Name: Frame_length, Length: 2222, dtype: int64

In [119]:
for i in range(0,len(df)):
    if(df['Frame_length'][i] == 64):
        df['Frame_length'][i] = "FL_64"
    elif(df['Frame_length'][i] == 2978):
        df['Frame_length'][i] = "FL_2978"
    else:
        df['Frame_length'][i]= "FL_Other"

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [120]:
fl_dummies=pd.get_dummies(df['Frame_length'])

In [121]:
df_new=pd.concat([df_new,fl_dummies],axis=1)

In [122]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
time=df[['Time']]
time=sc.fit_transform(time)
time=pd.DataFrame(time)

In [123]:
time=time.rename(columns={0:"Time"})

In [124]:
df_new=pd.concat([df_new,time],axis=1)

In [125]:
df['TCP_Protocol'].value_counts()

TCP                              137759
UDP                               56940
Generic Routing Encapsulation      4399
ICMP                                132
IPv6                                102
ICMP,UDP                             60
IGMP                                 16
ICMP,TCP                              6
ICMP,ICMP                             3
Name: TCP_Protocol, dtype: int64

In [126]:
for i in range(0,len(df)):
    if(df['TCP_Protocol'][i]!="TCP"):
        if(df['TCP_Protocol'][i]!="UDP"):
            df['TCP_Protocol'][i]="Others"

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [127]:
df['TCP_Protocol'].head()

0    TCP
1    TCP
2    TCP
3    TCP
4    TCP
Name: TCP_Protocol, dtype: object

In [129]:
print(df['TCP_Protocol'].value_counts())

TCP       137759
UDP        56940
Others      5301
Name: TCP_Protocol, dtype: int64

In [130]:
df_new=pd.concat([df_new,df['TCP_Protocol']],axis=1)

In [131]:
df_new.to_csv(r'C:\Users\USER\Desktop\proj\dataset.csv')